<style>
  #<%= dom_id event %> {
    background-color: <%= event.calendar.color %>;
  }
</style>

<div id="<%= dom_id event %>" class="py-0.5">
  <%= link_to edit_event_path(event) do %>
    <div class="rounded px-1.5 bg-[--main-color] text-white sm:block md:flex items-center gap-x-2">
      <div class="text-xs">
        <%= event.start_time.strftime("%H:%M") %>
      </div>
      <span class="truncate flex-shrink text-sm"><%= event.summary %></span>
    </div>
  <% end %>
</div>